body{
    /*width: 1920px;*/
    /*height: 1080px;*/
    /*background-color: rgba(114,181,211,0.62);*/
    background-color: rgba(30,34,50,1);


}
.container-webPage{
    background: url("../../img/bodypatters.png");
    width: 100%;
    /*height: 100%;*/
}
#body_content{
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    box-shadow: blue;
    font-family: Candara,Verdana,Constantia;
}
#navmenu{
    background-color: ghostwhite;
    height: 100px;
}
#navmenu ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 15px;
}
#navmenu ul li{
    margin-right: 90px;
}
#navmenu ul li a{
    text-decoration-line: none;
    font-size: 25px;
    text-transform: uppercase;
    color: royalblue;
    font-weight: bold;
    padding: 5px;
}
#navmenu ul li a:hover{
    color: #0e1154;
    background-color: rgba(98,186,251,0.15);
    border-radius: 10px;
}
/*/\/\/\/\/\/\/\/\/\/\/\/  HOME.html  \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/

/*/////////////////////////Background part ///////////////////////////////*/
.background_part #neon #background{
    background: url("../../img/mila_backgroung_home_rezized.jpg")no-repeat;
    /*width: 1600px;*/
    width: 1500px;
    height: 780px;
    margin-top: -10px;
    margin-left: 50px;
    padding-bottom: 30px;
}
.background_part #neon{
    background-color:  rgba(224,248,108,0.8);
    width: 1600px;
    padding-top: 5px;
    margin-top: 10px;
}
.background_part{
    position: relative;
    bottom: 22px;
}
.background_part #neon #background .header-text{
    position: relative;
    top: 180px;
    left: 80px;
    font-family: Gabriola;
    color: #28539f;
}
/*.background_part #background .header-text a{*/
/*    font-size: 26px;*/
/*    background-color: rgb(133, 153, 185);*/
/*    color: darkblue;*/
/*    text-decoration-line: none;*/
/*    padding: 10px;*/
/*    border-radius: 7px;*/
/*    border: #86a2fa solid 1px;*/
/*}*/
.background_part #background .header-text h1{
    font-size: 60px;
}
.background_part #background .header-text h3{
    font-size: 30px;
    margin-top: -24px;
}
/*/////////////////////////////section one/////////////////////////////*/
#main .section:first-child{
    /*background-color: rgba(65,92,143,0.62);*/
    height: 350px;
    border-radius: 0 0 20px 20px;
}
#main .section:first-child{
    margin-top: -22px;
}
#main .section:first-child #section_one_content{
    text-align: center;
    padding-top: 90px;
    padding-left: 80px;
    padding-right: 80px;
}
#main .section:first-child #section_one_content p{
    font-size: 20px;
}
/*/////////////////////// section 2 circles /////////////////////////////*/
#main .section:nth-of-type(2) #section_two_content{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
#main .section:nth-of-type(2) #section_two_content .box{
    margin-right: 70px;
    /*background: url("../../img/floral_circle500x500.png");*/
    background: url("../../img/transparentBubble.png") no-repeat;
    background-size: contain;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    font-family: "Ink Free", cursive;
}
#main .section:nth-of-type(2) #section_two_content .box:hover{
    transform: scale(1.1);
}
#main .section:nth-of-type(2) #section_two_content .box div{
    position: relative;
    top: 50px;
    left: 115px;
    width: 300px;
}
#main .section:nth-of-type(2) #section_two_content .box .box_content p{
    font-size: 24px;
}
#main .section:nth-of-type(2) #section_two_content .box:nth-of-type(3) .box_content a{
  position: relative;
    right: 30px;
}
#main .section:nth-of-type(2) #section_two_content .box:nth-of-type(3) .box_content p{
    position: relative;
    left: 60px;
}
#main .section:nth-of-type(2) #section_two_content .box:nth-of-type(2) .box_content a{
   position: relative;
    right: 40px;
}
#main .section:nth-of-type(2) #section_content_second #parag p{
    font-size: 40px;
    text-align: center;
    color: #50bcd9;
}
/*///////////////////////FOOTHER/////////////////////////////////////////*/
footer{

    border-radius: 10px;
}
footer #content_footer .footer_coloms{
    display: flex;
    justify-content: space-around;
}
footer #content_footer .footer_coloms ul{
    color: white;
}
footer #content_footer .footer_coloms ul h4{
    font-weight: 900;
    font-size: 18px;
}
footer #content_footer .footer_coloms ul li{
    /*list-style-type: none;*/
    margin-top: 15px;
    font-weight: 700;
}
footer #content_footer .footer_coloms #contactMe li:first-of-type{
    list-style-image: url("../../img/mailLogo.png");
}
footer #content_footer .footer_coloms #contactMe li a:hover{
    text-decoration-line: underline;
}
footer #content_footer .footer_coloms #contactMe li:nth-of-type(2){
    list-style-image: url("../../img/Github_resized.png");
}
footer #content_footer .footer_coloms #contactMe li:nth-of-type(3){
    list-style-image: url("../../img/LinkedIn_logo.png");
}
footer #content_footer .footer_coloms #contactMe li:nth-of-type(4){
    list-style-image: url("../../img/instagramLOGO.png");
}
footer #content_footer .footer_coloms #extras li{
    list-style-type: none;
}
footer #content_footer .footer_coloms #extras li:hover{
    text-decoration-line: underline;
}
footer #content_footer .footer_coloms li a{
    color: white;
    text-decoration: none;
}
footer #content_footer .footer_coloms #information li a:hover{
    text-decoration-line: underline;
}
footer #content_footer .footer_coloms #information li{
    list-style-type: none;
}

footer #content_footer .footer_coloms ul:last-child form input{
    width: 250px;
    height: 50px;
}
footer #content_footer .footer_coloms ul:last-child form button{
    position: relative;
    right: 80px;
    top: 3px;
    padding: 7px;
    font-size: 20px;
    background: purple;
    color: white;
    font-weight: bold;
}
#copy > p{
    color: honeydew;
    text-transform: uppercase;
}
/*/\/\/\/\/\/\/\/\/\/\/\/  ABOUTME.html  \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
.background_part_aboutMe #background_aboutMe{
    background: url("../../img/aboutMe_background.jpeg");
    width: 1600px;
    height: 738px;
}
.background_part_aboutMe{
    margin-top: -35px;
}
.background_part_aboutMe #transparent_layer{
    /*background-color: rgba(147,197,193,0.28);*/
    background-color: rgba(65,89,104,0.5);
    width: 1600px;
    height: 738px;
}
.background_part_aboutMe #background_aboutMe #transparent_layer .header-text-aboutMe{
    position: relative;
    top: 60px;
    left: 650px;
    font-family: "Ink Free";
    font-size: 25px;
    color: rgb(43, 60, 73);
}
/*////////////////////////////// bitmoji + description /////////////////////////////*/
#main-aboutMe{
    padding: 30px;
}
#main-aboutMe #watermark{
    background: url("../../img/blue_watermark.png");
    width: 400px;
    height: 400px;
    float: left;
}
#main-aboutMe #bitmoji #bitmoji-content{
    background: url("../../img/bitmoji_resized.png");
    width: 200px;
    height: 250px;
    position: relative;
    left: 90px;
    top: 70px;
}
#main-aboutMe #description div{
    width: 1000px;
    float: right;
    margin-top: 50px;
    text-align: justify;
}
#main-aboutMe #description div p{
    word-spacing: 3px;
    line-height: 25px;
}
/*////////////////////////////////// celar /////////////////////////////////////////////////*/
#clear{
    clear: both;
}
/*////////////////////////////// 2nd main part ///////////////////////////////////////////*/
#second-main-aboutMe{
}
.background-textBox{
    background: url("../../img/pngtree-oval-text-box-blue-gradient-png-image_6410899.png");
    width: 360px;
    height: 360px;
}
.background-textBox h3{
    width: 200px;
    position: relative;
    top: 120px;
    left: 70px;
}
.background-textBox p{
    position: relative;
    top: 160px;
    left: 40px;
    width: 300px;
    background-color: #3a6274;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: Verdana;
}
.background-textBox p span{
    color: lightblue;
    font-weight: bold;
}
.background-textBox #last{
    top: 180px;
}
#second-main-aboutMe-content{
    display: flex;
    justify-content: space-around;
}
#third-main-aboutMe > div > div > h2{
    animation: colorChange 2s infinite;
}
@keyframes colorChange {
    0% { color: white; }
    50% { color: #72c3ef; }
    100% { color: #16165a; }
}

/*////////////////////////// 4 th child my skills ///////////////////////////////////*/
#third-main-aboutMe{
    margin-top: 140px;
}
#third-main-aboutMe h2{
    text-align: center;
    margin-bottom: 50px;
}
.myJobOffering{
    display: flex;
    flex-wrap: wrap;
}
.myJobOffering > div{
    width: 700px;
    margin: auto;
    display: flex;
}
.JobOffering-content{
    width: 500px;
}
.myJobOffering > div .JobOffering-content{
    margin-left: 20px;
    margin-bottom: 30px;
    /*color: rgba(255,202,123,1);*/
    padding: 10px;
    background-color: rgba(81,93,116,0.45);
    border-radius: 10px;
}
.myJobOffering > div .JobOffering-content p{
    color: rgba(255,202,140,0.71);
    font-family: Verdana;
}
.myJobOffering > div .JobOffering-content:hover{
    background-color: rgba(81,93,116,0.7);
}
.myJobOffering > div .JobOffering-content h3{
    font-family: "Ink Free";
    color: #08021e;
    font-weight: 900;
    font-size: 25px;
}
#logo1{
    background: url("../../img/webDesignLOGO.png");
    width: 100px;
    height: 100px;
}
#logo2{
    background: url("../../img/webDevelopmentLOGO.png");
    width: 100px;
    height: 100px;
}
#logo3{
    background: url("../../img/appDevelopmentLOGO.png");
    width: 100px;
    height: 100px;
}
#logo4{
    background: url("../../img/networkLOGO.png");
    width: 100px;
    height: 100px;
}
/*/\/\/\/\/\/\/\/\/\/\/\/\   TRAVEL  \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
#pictures{
    display: flex;
    height: 334px;
}
#pictures img:nth-of-type(2){
    height: 328px;
    margin-left: 3px;
    box-sizing: border-box;
}
#message{
    width: 257px;
    position: relative;
    bottom: 190px;
    left: 670px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 900;
    background-color: rgba(50,183,255,0.24);
}
#message span{
    /*font-family: Gabriola;*/
    font-family:"Monotype Corsiva";
    font-size: 25px;
}
#message span:nth-of-type(2) {
    color: #b05e1c;
}
/*/////////////////////////// section-travel //////////////////////////*/
.section-travel:first-of-type{
    height: 600px;
    margin-top: -128px;
}
.section-travel:first-of-type #section-travel-content div:first-of-type #image-travel{
    background: url("../../img/kaneoo.jpg") no-repeat;
    width: 400px;
    height: 500px;
    margin-left: 100px;
    position: relative;
    bottom: 400px;
}
.section-travel:first-of-type #section-travel-content div #back-background{
    background-color: darkorange;
    width: 300px;
    height: 460px;
    position: relative;
    left: 80px;
    top: 120px;
}
.section-travel:first-of-type #section-travel-content div:nth-of-type(2){
    width: 800px;
    margin-left: 70px;
    padding-top: 90px;
}
.section-travel:first-of-type #section-travel-content{
    display: flex;
}
#put-in-section-travel-content{
    position: relative;
    top: 530px;
    background-color: rgba(225, 186, 48, 0.68);
    height: 20px;
    padding: 10px;
    text-decoration-line: none;
    font-family: Garamond;
    border-radius: 3px;
    border: solid 1px darkorange;
}
#put-in-section-travel-content:hover{
    text-decoration-line: underline;
}
#put-in-section-travel-content:active{
    text-decoration-line: underline;
    background-color: #b05e1c;
    color: #16165a;
}

#body_content > section:nth-child(3) > div > h2{
    font-size: 26px;
    font-family: 'Monotype Corsiva'
}
#flags{
   display: flex;
}
#flags #BRAZIL{
    position: relative;
    left: 500px;
    bottom: 20px;
}
#flags #USA{
    position: relative;
    right: 100px;
    bottom: 20px;
}
#flags #ITALY{
    position: relative;
    left: 200px;
    bottom: 20px;
}
/*///////////////////////// section-traven:second of type////////////////*/
.section-travel:nth-of-type(2){
    height: 260px;
    background-color: rgba(98,191,174,0.11);
}
.section-travel:nth-of-type(2) div{
    margin-left: 240px;
    padding-top: 26px;
}
.section-travel:nth-of-type(2) div h2, .section-travel:nth-of-type(2) div
p{
    margin-left: 500px;
    font-size: 20px;
}
.section-travel:nth-of-type(2) div ol{
    display: flex;
}
.section-travel:nth-of-type(2) div ol li{
    margin-right: 90px;
    background-color: lightblue;
    width: 300px;
    padding: 5px;
    font-family: "Ink Free";
    font-weight: 700;
}
/*/////////////////////// section-travel : third of type //////////////////*/
.section-travel:nth-of-type(3){
    /*margin-top: 230px;*/
    margin-top: 90px;
}
.section-travel:nth-of-type(3) #container-of-liferings div{
    display: flex;
    justify-content: space-between;
}
.section-travel:nth-of-type(3) #container-of-liferings #second-row{
    margin-top: 30px;
}
.section-travel:nth-of-type(3) #container-of-liferings span{
    position: relative;
    left: 640px;
    top: 200px;
    font-size: 30px;
    font-family: "Ink Free";
    font-weight: 900;
}
#travel_footer{
    margin-top: 20px;
}
#body_content > h1{
    margin-top: 140px;
}
/*/\/\/\/\//\/\/\/\/\/\/\/\/\/ HOBBIES /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
.background_part-hobbies #background-hobbies{
    background: url("../../img/539.jpeg");
    width: 1600px;
    height: 738px;
}
#background-hobbies #shadow{
    background-color: rgba(65,89,104,0.5);
    width: 1600px;
    height: 738px;
}
.background_part-hobbies{
    margin-top: -20px;
}
#shadow > div{
    position: relative;
    top: 250px;
    text-align: center;
}
.background_part-hobbies #background-hobbies .header-text h1{
    color: rgba(51, 87, 110, 0.99);
}
.background_part-hobbies #background-hobbies .header-text h5{
    color: #171649;
    font-weight: 700;
}
/*//////////////////////// waterActitities part /////////////////////////*/

#waterActivities{
    height: 500px;
    background: rgba(0,56,85,0.05);
    margin-top: -1px;
}
#text_side{
   padding-top: 100px;
}
#waterActivities img{
    float: left;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 28px;
}
#waterActivities #text_side{
    /*width: 400px;*/
    margin-right: 400px;
}
/*#waterActivities:after{*/
/*    display: table;*/
/*    content: "";*/
/*    clear: both;*/
/*}*/
#text_side > img{
    position: relative;
    left: 150px;
    bottom: 400px;
}
#text_side > h2{
    color: #28539f;
    font-family: "Ink Free";
}
#text_side > h3{
    color: #86a2fa;
    font-family: Ebrima;
}

/*//////////////////////////// volleyball part ////////////////////////////*/
#volleyball{
    clear: both;
    margin-top: -100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 20px;
}
#volleyball h1{
    letter-spacing: 20px;
    font-family: fantasy;
    font-size: 29px;
    color: #0e1154;
    text-align: center;
}

#volleyball div{
    display: flex;
}
#volleyball div img:first-of-type{
    margin-left: 20px;
}
#volleyball div img{
    margin-right: 15px;
}
#volleyball ul{
    display: flex;
    list-style-type: none;
}
#volleyball ul li:nth-of-type(2){
    margin-left: 750px;
    width: 400px;
}
#volleyball ul li:first-of-type{
    margin-left:150px;
}
#volleyball ul li{
    color: white;
    font-weight: bold;
}
/*////////////////////////// skiing ////////////////////////////////////////////////////////////////*/
#skiing{
    margin-top: 20px;
}
#text_side2{
    width: 290px;
    background-color: rgba(191,199,255,0.15);
    border-radius: 10px;
    color: #86a2fa;
    text-align: center;
    padding: 5px;
    margin-top: -10px;
}
#text_side3{
    width: 290px;
    background-color: rgba(191,199,255,0.15);
    border-radius: 10px;
    color: #86a2fa;
    text-align: center;
    padding: 5px;
    margin-top: -10px;
}
#skiing_content{
    display: flex;
    justify-content: space-between;
}
#skiing_content #box1{
    width: 300px;
    margin-left: 50px;
}
#skiing_content #box3{
    width: 300px;
    margin-right: 100px;
}
#skiing_content #box2{
    margin-top: 120px;
    font-family: fantasy;
    font-size: 27px;
    color: honeydew;
    margin-left: 10px;
}
#skiing_content #box2 img{
    position: relative;
    bottom: 200px;
    right: 30px;
}
#skiing_content #box2 h1{
    letter-spacing: 20px;
    animation: textAnimation 2s infinite;
}
@keyframes textAnimation {
    0% { color: rgba(145, 231, 121, 0.8); }
    50% { color: rgb(65, 175, 236); }
    100% { color: rgb(140, 75, 234); }
}

/*////////////////////////////////////// FOOTER    ///////////////////////////**/
#hobbies-footer{
    margin-top: -75px;
}

